In [3]:
# Dependencies
import pandas as pd

In [4]:
# Store filepath in a variable
pymoli_data = "Resources/purchase_data.csv"

In [5]:
# Read our Data file with the pandas library
pymoli_data_df = pd.read_csv(pymoli_data)

In [6]:
# Show just the header to check that csv imported properly
pymoli_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Find the total number of players

player_count = pymoli_data_df["SN"].unique()
player_count = len(player_count)
player_count = {'Total Players':f'{player_count}'}
player_count_df = pd.DataFrame(player_count,index=[0])
player_count_df
#Player Count: 576

  Total Players
0           576

In [8]:
# Purchasing Analysis (Total)

# Number of Unique Items
unique_items = len(pymoli_data_df['Item ID'].unique())
unique_items = {'Number of Unique Items':f'{unique_items}'}
unique_items_df = pd.DataFrame(unique_items, index = [0])
unique_items_df

  Number of Unique Items
0                    179

In [17]:
# Total Number of Purchases
num_of_purchases = (pymoli_data_df['Purchase ID'].count())
num_of_purchases

780

In [18]:
# Total Revenue
revenue = (pymoli_data_df['Price'].sum())
revenue

2379.77

In [19]:
# Average Purchase Price = revenue/number of purchases
avg_purchase_price = revenue/num_of_purchases
avg_purchase_price = {'Average Purchase Price':f'{avg_purchase_price}'}
avg_purchase_price_df = pd.DataFrame(avg_purchase_price, index= [0])
avg_purchase_price_df

  Average Purchase Price
0     3.0509871794871795

In [23]:
#Gender Demographics:

# Percentage and Count of Male Players
male_count = len(pymoli_data_df.loc[pymoli_data_df['Gender'] == 'Male']['SN'].unique())

# Percentage and Count of Female Players
female_count = len(pymoli_data_df.loc[pymoli_data_df['Gender']=='Female']['SN'].unique())

# Percentage and Count of Other / Non-Disclosed
other_count = len(pymoli_data_df.loc[pymoli_data_df['Gender']=='Other/Non-Disclosed']['SN'].unique())

sum_of_count = male_count + female_count + other_count

gender_demographics = {'Total Count':[male_count,female_count,other_count],'Percentage of Players':[round(male_count/sum_of_count*100,2),
round(female_count/sum_of_count*100,2),round(other_count/sum_of_count*100,2)]}
gender_demographics_df = pd.DataFrame(gender_demographics,index = ['Male','Female','Other / Non-Disclosed'])
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484                  85.66
Female                          81                  14.34
Other / Non-Disclosed            0                   0.00